#basePane{
	-fx-margin:10%;
	-fx-padding:5px;
}
.title{
  -fx-font-size:24;
}
.txt{
	-fx-font-size:12;
}
.text-field{
  -fx-padding:0;
  -fx-border-width:0px;
}
.text-field:hover{
  -fx-border-width:1px;
}
.box{
  -fx-border-width: 1px 1px 1px 0px;
  -fx-txt-fill:transparent;
}
.box:hover{
  -fx-border-color:dodgerblue;
  -fx-text-fill:dodgerblue;
}
.line{
  -fx-border-width: 0px 0px 1px 0px;
}
#log{
	-fx-font-size:18;
}
#listBox{
	-fx-background-radius:15;
}
.scroll-pane{
	-fx-background-color:transparent;
}
.scroll-pane > .viewport{
	-fx-background-color:transparent;
}
.scroll-bar{
	-fx-background-color:transparent;
}
.scroll-bar: horizontal{
	visibility: hidden;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow{
	visibility: hidden
}
.btn: hover{
	-fx-opacity:0.8;
}
.btn {
	-fx-padding:5px;
	-fx-background-radius:5px;
}
#addBtn{
	-fx-background-color:dodgerblue;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background,
.table-view .column-header-background .filler{
	-fx-background-color:transparent;
}
.table-view{
	-fx-border-radius:10;
	-fx-background-radius:10;
}
.table-view .column-header .label{
}
.table-view .table-cell {
	-fx-border-width:0px;
}
.table-row-cell{
}
.table-row-cell:odd{
	-fx-border-width:0px;
  -fx-background-color: transparent;
}
